@charset "utf-8";
/* 도깨비 PJ 인물관계도 - cat.css */

/* 메인박스 */
.cont{
    text-align: center;
    padding: 0;
}
/* 인물관계도 이미지 */
#catimg{
    max-width: 100%;
    /* 이미지에 최대가로크기 100%란
    싸고 있는 박스가 작아지면 자동으로
    100%로 전환됨! */
}
