@charset "utf-8";
/* 도깨비 PJ 공통 디자인 CSS - common.css */
/* 상단영역, 하단영역 반복디자인 */

/* 공사중 표시
 별표(*)는 모든요소 선택 */
/* body * {
  outline: 2px dashed gray;
} */
/* 외곽선 - 박스요소의 외곽선만 표현
  박스 바깥쪽으로 생성됨
  (자신또는 다른요소에 영향이 없음)
  - 사용법이 border와 유사함!
  outline: 두께 종류 색상; */

/* 속박스에 높이값을 설정한 이유는 겉박스는 속박스 크기만큼
자동으로 늘어나게 하여 편리한 셋팅을 유도함! */

/******************* 1. 상단영역 *******************/

/* 겉박스 */
#top{
  position: relative;
  /* 부모자격 */

  /* 하단 구분선 */
  border-bottom: 1px solid #ccc;
  /* 배경흰색 */
  background-color: #fff;

  /* 처음에 위로 올라가서 안보임 
  - 자신의 높이값 만큼 위쪽방향으로 이동! */
  transform: translateY(-100%);

  /* 애니메이션 : 이시이지반방마 - 캐릭터 애니후 작동 */
  animation: topAni 1s ease-out 4.5s forwards;
}
/* 상단영역 키프레임 */
@keyframes topAni {
  to{
    transform: translateY(0%);
  }
} /* 키프레임 */

/* 속박스 */
/* .top { */
  /* position: relative; */
  /* 부모자격! 없앰! - 이유는 서브메뉴배경 li
  가상요소가 끝까지 가야해서 ㅠ.ㅠ */
  /* height: 125px; */
/* } */

/* 1-1.메인로고 */
.logo{
  padding: 20px;
  text-align: center;
}
.logo img{
  width: 100px;
}

/* 1-2.탑메뉴 */
.tmenu{
  position: relative;
  /* 부모자격! 
  상태는 로고박스와 GNB박스 사이에 있고
  자식ul이 앱솔루트라서 높이값이 0임! 
  가로는 자동으로 .inbox의 크기인 1200px을
  채움!*/
}
/* 탑메뉴 ul */
.tmenu>ul{
  position: absolute;
  top: -50px;
  right: 0;
  /* 부모는? .tmenu */
}

/* 탑메뉴 상위li */
.tmenu>ul>li{
  padding: 0 5px;
}

/* 탑메뉴 상위a요소 */
.tmenu>ul>li>a{
  /* 글자크기 (15px) */
  font-size: 1.5rem;
}

/************ sns 메뉴 ************/
.sns{
  /* 마진탑으로 옆 메뉴글자와 줄맞춤 */
  margin-top: -5px;
}

/* sns a요소 확장 */
.sns a{
  display: block;
  width: 100%;
  height: 100%;
}

/* sns 메뉴 li */
.sns li{
  width: 30px;
  height: 30px;
  /* 배경이미지로 sns아이콘 넣기 */
  background: url(../images/icons.png) no-repeat;
}
/* 트위터 */
.sns li:nth-child(1){
  background-position: 0 0;
}
/* 트위터 오버시 */
.sns li:nth-child(1):hover{
  background-position: 0 -30px;
}
/* 인스타그램 */
.sns li:nth-child(2){
  background-position: -30px 0;
}
/* 인스타그램 오버시 */
.sns li:nth-child(2):hover{
  background-position: -30px -30px;
}
/* 페이스북 */
.sns li:nth-child(3){
  background-position: -60px 0;
}
/* 페이스북 오버시 */
.sns li:nth-child(3):hover{
  background-position: -60px -30px;
}
/************* 1-3. GNB메뉴 *************/
/* .gnb{
  width: 574px;
  margin: 0 auto;
} */
/* 마영오! - 특정 가로크기가 있어야 적용됨! */

/* GNB 상위li */
.gnb>ul>li{
  padding: 0 15px;
}

/* GNB 상위 a */
.gnb>ul>li>a{
  display: block;
  /* 글자크기 (17px) */
  font-size: 1.7rem;
  /* 줄간격 (44px) */
  line-height: 4.4rem;

  /* 보더 때문에 크기가 변하지 않게
  원본에 만들고 투명하게 색처리함! */
  border-bottom: 4px solid transparent;
}
/* 상위메뉴 마우스 오버시 상위a에 하단보더 */
.gnb>ul>li:hover>a{
  /* 오버시엔 보더 색만 변경함! */
  border-bottom-color: red;
}
/* 서브메뉴 */
.smenu{
  position: absolute;
  z-index: 1;
  /* li가상요소 after보다 위! */
  /* background-color: #fff; */

  /* 서브메뉴 숨기기 */
  height: 0;
  overflow: hidden;

  /* 트랜지션: 속시이지 */
  transition: height .4s ease-out;
}
/* 상위메뉴 li마우스 오버시 서브메뉴 보이기
+ 서브메뉴 가상요소 배경 보이기 */
.gnb>ul>li:nth-child(1):hover .smenu,
.gnb>ul>li:nth-child(1):hover::after{
  height: 120px;
}
.gnb>ul>li:nth-child(3):hover .smenu,
.gnb>ul>li:nth-child(3):hover::after{
  height: 150px;
}
.gnb>ul>li:nth-child(4):hover .smenu,
.gnb>ul>li:nth-child(4):hover::after{
  height: 90px;
}
/* 서브메뉴 a */
.smenu a{
  display: block;
  font-size: 1.4rem;
  padding: 10px 0;
}

/* 서브메뉴 끝까지 차는 배경박스 
가상요소로 만들기! -> .sm인li만 생성됨! */
.gnb>ul>li.sm::after{
  content: '';
  display: block;
  position: absolute;
  left: 0;
  width: 100%;
  /* 가로크기를 %로 주면 
  부모자격에 기준을 둔다!
  -> 화면을 채워야 하므로 싸고있는
  요소중에는 부모가 없어야한다!
  그래야 화면이 부모가 된다! 
  left를 줬으므로 보이는 화면기준!
  top은 안줘서 젠틀함! a요소 아래위치!*/
  height: 0;/* 200px-> 오버시 각 수치로! */
  background-color: #fff;

  /* #top박스 하단보더 보이게 하기위해
  마진탑으로 1px이동(top을 쓰면 복잡해짐) */
  margin-top: 1px;
  
  /* 트랜지션: 속시이지 */
  transition: height .4s ease-out;
}

/* 상위li에 오버시 가상요소 하단 보더 공통생성 */
.gnb>ul>li:hover::after{
  border-bottom: 2px solid red;
}

/* 햄버거버튼 */
.ham{
  position: absolute;
  top: 50%;
  transform: 
  translateY(-50%) scaleX(1.3);
  right: 5vw;
  border: none;
  background-color: transparent;
  font-size: 10vw;
  padding: 0;
  margin: 0;
  color: #000;

  /* 처음에 안보임 */
  display: none;
}
/* 햄버거 가상요소 */
.ham::before{
  content: '≡';
}
/* GNB메뉴 보이는 상태일때 햄버거버튼 */
body.on .top .ham{
  transform: 
  translateY(-50%) scale(1.2);
  color: #fff;
  z-index: 9999;
}
body.on .top .ham::before{
  content: '×';
}

/******************* 2. 메인영역 *******************/
.cont {
  min-height: 800px;
  /* 최소높이800px유지
    -내용넘치면 늘어남! */
}
/******************* 3. 하단영역 *******************/

/* 겉박스 */
#info{
  background-color: rgba(255, 255, 255, 0.7);
}

/* 속박스 */
.info {
  position: relative;
  /* 부모자격! */

  /* 최소높이 - 내용이 늘면 auto로 전환! */
  min-height: 240px;
  /* outline: 2px dashed red; */
}
/****** 3-1. 하단링크 ********/
.blink{
  padding-top: 5px;
}
/* .blink ul{
  max-width: 804px;
  margin: 0 auto;
} */
/* 마영오! - width가 있는 블록요소 */
.blink li{
  padding: 0 15px;
}
.blink a{
  /* 글자셋팅 */
  color: #222;
  font-weight: bold;
  font-size: 1.4rem;
  line-height: 2.8;
}
/* 마우스 오버시 a요소 */
.blink a:hover{
  color: red;
  text-decoration: underline;
}
/****** 3-2. 회사정보 ********/
.addr{
  padding: 1rem;
}
.addr address{
  /* 글자셋팅 */
  font-size: 1.4rem;
  font-style: normal;
  text-align: center;
  line-height: 2;

  max-width: 804px;
  margin: 0 auto;
  border: 4px double #222;
  padding: 1rem;

  /* 보더,패딩 포함 크기유지! bxb */
  box-sizing: border-box;
}
/****** 3-3. 하단로고 ********/
.blogo{
  text-align: center;
}
/****** 3-4. 바로가기 ********/
.brand{
  position: absolute;
  top: 10px;
  right: 0px;
  /* 부모는? .info */
}
.brand select{
  /* 글자셋팅 */
  color: #222;
  font-weight: bold;
  font-size: 1.4rem;
  line-height: 2.8;

  padding: 0.5rem;
}
