@charset "utf-8";
/* 도깨비 PJ 메인 페이지 미디어 쿼리 */

/************* 1070px 이하 시작 *************/
@media screen and (max-width: 1070px) {
    /* 1. 전체 글자크기 조정 (Root변경->rem바뀜!) */
    html{
        font-size: 8px;
    }
    /* 2. 브랜드 바로가기 없앰 */
    .brand{
        display: none;
    }
    /* 3. 캐릭터박스 배치 변경! 한줄에 2개씩! */
    .cat{
        width: 49%;
    }
    /* 4. 컨텐츠 박스  */
    .cont{
        padding-top: 70px;
        padding-bottom: 300px;
    }
    /* 5. 캐릭터 박스 오버시 */
    .cat:hover .ci {
        margin-top: 0;
    }
    /* 6. 3,4번째 캐릭터박스 마진탑 공간확보
    틸드(~) : 선택요소 뒤의 모든 형제요소 */
    .cat:nth-child(2)~.cat{
        margin-top: 250px;
    }
    /* 7. 타이틀 글자 */
    .cd h3{
        font-size: 3vw;
    }
    /* 8. 설명문단 */
    .cd p{
        font-size: 2vw;
    }
}
/************* 1070px 이하 끝 *************/



/************* 870px 이하 시작 *************/
@media screen and (max-width: 870px) {

    /* 1. 캐릭터 박스 한줄에 하나씩 */
    .cat{
        width: 99%;
    }
    /* 2. 3,4번 캐릭터박스 마진없앰 */
    .cat:nth-child(2)~.cat{
        margin-top: 0;
    }
    /* 3. 설명박스 static전환(자리차지) */
    .cd{
        position: static;
    }
    /* 4. 타이틀 글자 */
    .cd h3{
        font-size: 6vw;
    }
    /* 5. 설명문단 */
    .cd p{
        font-size: 4vw;
    }
    /* 6. 컨텐츠 박스  */
    .cont{
        padding-top: 20px;
        padding-bottom: 20px;
        min-height: auto;
    }

    /* 7. 사라질요소들 : .tmenu, .blink */
    .tmenu, .blink{
        display: none;
    }
    /* 8. 하단영역 */
    .info{
        min-height: auto;
        padding-bottom: 10px;
    }
    /* 9. GNB메뉴 변경 */
    .gnb {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 999;
        width: 100vw;
        height: 100vh;
        background-color: #000000b3;
        /* 처음에 안보임! */
        display: none;
    }
    .gnb ul{
        /* 세로방향 */
        flex-direction: column;
        margin-top: 20vh;
        /* 위에서 20% 보이는 위치로 이동! */
    }
    .gnb>ul>li>a{
        font-size: 5vh;
        line-height: 10vh;
        /* 메뉴6개 - 보이는 화면 높이값의 60% 차지 */
        text-align: center;
        color: #fff;
    }
    /* 서브메뉴, 서브배경 모두 없앰! */
    .smenu,.gnb>ul>li.sm::after{
        display: none;
    }
    /* 상위메뉴 오버시 밑줄없앰! */
    .gnb>ul>li:hover>a{
        border-bottom-color: transparent;
    }
    /* 10. 햄버거버튼 보이기 */
    .ham{
        display: block;
    }
    /* 11. GNB메뉴 보이기 */
    body.on .top .gnb{
        display: block;
    }

    /* 12. 캐릭터박스 GNB메뉴 보일때 아래로 내리기
    - 트랜스폼 애니메이션으로 위치 위로 올라옴! */
    body.on .cat{   
        z-index: -1;
    }

    /* 13. GNB메뉴 보일때 스크롤 없앰! */
    body.on{
        overflow: hidden;
    }


}
/************* 870px 이하 끝 *************/
