@charset "utf-8";
/* CGV PJ 메인 페이지 CSS - main.css */

/* 외부CSS 합치기 */
@import url(reset.css);
@import url(core.css);

body{
    background-color: #000;
}

/* 공사중표시 */
body *{
    outline: 1px dotted lime;
}

/* 공통클래스 */
.ibx{
    max-width: 1200px;
    margin: 0 auto;
}
/***************** 1. 상단영역 *****************/
/* 속박스 */
.top{
    position: relative;
    /* 부모자격 - .gnb */
    height: 80px;
    background: url(../images/curtain.jpg) repeat-x;
}
/* 1-1.로고 */
.tit{
    font-family: 'Jua', sans-serif;
    color: aquamarine;
    font-size: 40px;
    text-align: center;
    line-height: 80px;

    /* 그림자를 이용한 Glow효과! */
    text-shadow: 0 0 4px aquamarine;
    /* 애니메이션: 이시이지반방마 */
    animation: titAni .5s ease-in infinite alternate;
}
/* 타이틀 글로우 효과 애니메이션 키프레임 */
@keyframes titAni {
    to{
        text-shadow: 0 0 12px aquamarine;
    }
} /* 키프레임 */

/* 1-2.GNB메뉴 */
.gnb{
    position: absolute;
    bottom: 5px;
    right: 15px;
    /* 부모는? .top */
}
/* GNB ul */
.glist{
    display: flex;
}
/* GNB li 리스트 */
.glist>li{
    font-family: 'Jua', sans-serif;
    font-size: 20px;
    padding: 0 10px;
}




/***************** 2. 메인영역 *****************/
/* 속박스 */
.cont{
    position: relative;
    /* 부모자격 */
    /* height: 788px; 
    -> 비율유지박스 높이값 불필요! */
    background: url(../images/bg.jpg) no-repeat top/100%;
}
/* 비율유지 가상요소 */
.cont::before{
    content: '';
    display: block;
    padding-top: 65.66%;
    /* 블록자식요소의 패딩탑을 %로 주면
    부모박스 가로크기에 대한 비가 성립한다!
    100%는 1:1비율! 
    
    [ 비율계산하기! ]
    이미지 비율로 박스 비율을 적용함!
    1200px : 788px = 100 : x
    x = 788px * 100% / 1200px
      = 65.66%    
    */
}
/* 2-1. 스크린박스 */
#screen{
    position: absolute;
    top: 17.3%;
    left: 21.4%;
    width: 58.4%;
    height: 50.4%;
    /* 부모는? .cont */
    background-color: #000;
}
/* 유튜브 아이프레임 */
#screen iframe{
    width: 100%;
    height: 100%;
    border: none;
}

/***************** 3. 하단영역 *****************/
/* 속박스 */
.info{
    height: 100px;
}