@charset "utf-8";
/* 요소의 초기화 */


/* 마진,패딩, 치고하 */
html,body,ul,li,h1, h2, h3,ol{
    margin: 0;
    padding: 0;
}

ul,li{
    /* 리스트 스타일없앰 */
    list-style: none;
}

a{
    text-decoration: none;
    
}

/* 이미지관련 */
img{
    /* 이미지 기본보더 없앰 */
    border: none;
    
    /* 이미지단독사용 하단간극없애기 */
    vertical-align: top;
   
}

hr{
    /* 햄버거목록 구분선 */
    margin: 20px 0;
    height: 2px;
    background-color: rgb(166 255 0 / 20%);
}

.mid hr{
    /* 이모티콘 구분선 */
    border: 1px double rgba(0, 0, 0, 0.518);
    background-color: rgba(0, 0, 0, 0.505);
    width: 1000px;
    margin: 0 auto;
    height: 0;
}



