@charset "utf-8";

@import url(reset.css);
@import url(core.css);

header {
	position:relative;
	top: 0;
	right: 0%;
	z-index: 1;
	background-color: transparent;
	display: flex;
	width: 100%;
	height: 80px;
}
#subCont1{
    background: url(../images/브라질1.jpg) no-repeat top/cover;
}
#subCont1 .amtBx{
    background: linear-gradient(0deg, rgb(75, 145, 28) 0%, rgba(75, 145, 28,0.9) 60%, rgba(255,255,255,0) 100%);
}
#subCont2{
    background-color: rgba(75, 145, 28, 0.6);
}
#subCont3{

    background-color: rgb(75, 145, 28);
}

/* 리우데자네이루, 상파울루, 파라티(리우), 포스두이구아수, 보니또 */
#BR-RJ, #BR-SP, #BR-PR, #BR-MS
{
    fill: rgb(37, 160, 0);
}
#BR-RJ:hover, #BR-SP:hover, #BR-PR:hover, #BR-MS:hover
{
    fill: rgb(29, 124, 0);
}
.mobtn{
	display: none;
}