@charset "utf-8";
/* 도깨비 PJ 핵심공통모듈 CSS - core.css */
/* 공통 class / 웹폰트 */

/* 웹폰트 CDN */
@import url('https://fonts.googleapis.com/css2?family=Single+Day&family=Yeon+Sung&family=ZCOOL+QingKe+HuangYou&display=swap');
/* 
    font-family: 'Single Day', cursive;
    font-family: 'Yeon Sung', cursive;
    font-family: 'ZCOOL QingKe HuangYou', cursive;
*/

/* 속박스 class */
.ibx{
    max-width: 1200px;
    /* 최대가로크기 1200px이면
    이것보다 작아질경우 auto로 자동전환됨!
    즉, 가로스크롤 안생김! */
    margin: 0 auto;
}